body{
    background-image: url("backgroundimg.jpg");
    width: 100%;
    height: 100%;
}

#top{
    color:white;
    background-color: red;
    border-color: white;
    border-style: outset;
    border-width: 9px;
    border-radius: 20px;
    text-align: center;
    margin-left: 30%;
    width: 600px;
    padding: 10px;
    font-family: 'Baloo 2', cursive;
    font-size: 40px; 
}

ul > li{
    background-color: red;
    border-color: white;
    border-style: outset;
    border-width: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    width: 200px;
    font-family: 'Baloo 2', cursive;
    font-size: 20px; 
}

a{
    text-decoration: none;
    color:black;
    font-family: 'Baloo 2', cursive;
}

a:hover{
    color:white;
}
li:hover{
    color:rgb(17, 79, 194);
    background-color: rgb(17, 79, 194);
    width: 250px;
    font-size: 25px;
    transition-duration: 1s;
}

h2{
    font-size: 60px;
    color: red;
    font-family: 'Baloo 2', cursive;
}

p{
    text-align: left;
    color: gray;
    font-size: 30px;
}

h3{
    font-size: 40px;
    color: red;
    font-family: 'Baloo 2', cursive;
}

.marquee{
    color: white;
    border-color: white;
    border-style: outset;
    border-radius: 5px;
    font-size: 30px;
    padding-bottom: 9px;
    font-family: 'Baloo 2', cursive;
}

#backbtn{
    background-color: red;
    border-color: white;
    border-style: outset;
    border-width: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    width: 200px;
    font-family: 'Baloo 2', cursive;
    font-size: 20px; 
}
#backbtn:hover{
    color:rgb(17, 79, 194);
    background-color: rgb(17, 79, 194);
    width: 250px;
    font-size: 25px;
    transition-duration: 1s;
}
 
img{
    float: left;
}

#image{
    margin-left: 45%;
}